@CHARSET "UTF-8";

#headerBar {
	width:100%;
	height:50px;
	background-color:#64ffa7;
	position:fixed;
	top:0px;
	z-index:2;
}

#headerBar h2 {
	margin:0px;
	color:#939099;
	font-style:italic;
	padding-top:5px;
	padding-left:10px;
}

#headerBar p {
	margin:0px;
	font-size:0.8em;
	padding-left:100px;
}

.white{
	color:#f9fcf9;
}

#contentDiv {
	margin:auto;
	width:400px;
	position:relative;
	top:50px;
	
}

h3{
	margin-bottom:3px;
	color:#9AA2C1;
}

#errorArea {
	color:#cf534b;
	font-size:0.8em;
	height:0.8em;
	margin-top:8px;
	margin-bottom:8px;
}


/* Comment */
label {
	width:120px;
	float:left;
	font-size:0.8em;
}

.flightInput {
	width:170px;
	margin:3px;
}

input {
	border-radius:3px;
}

#sendFlightButton {
	width:170px;
	margin-left:80px;
}

.flightButton {
	
}

body {
	margin:0px;	
	font-family:helvetica;
	color:#187976;
}

button {
	width:170px;
	margin:3px;
}

iFrame {
	border: none;
	width:400px;
	height:500px;
}